{% extends "layout.html" %}

{% block title %}
{{ aux }}
{% endblock %}

{% block main %}
<div class="container">
    <h2><strong>{{ aux }}</strong></h2>
    <hr>
    {% for new in thisPage %}
    <div class="row mb-2">
        <div class="col-md-12">
            <a style="color:black; text-decoration: none;" onmouseover="this.style.color='#007bff';"
                onmouseout="this.style.color='black';" href="{{ url_for('display', id=new.id) }}">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <img src="../{{ new.image_path }}" width="250" height="250">
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ new.new_type }}</strong>
                        <h3 class="mb-0"><strong>{{ new.title }}</strong></h3>
                        <div class="mb-1 text-muted">{{ new.date_time }}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}

    <hr>
    <main role="main">
        <div class="row">
            <div class="col-md-8">
                <nav>
                    {% if number + 1 == totalPages %}
                    <a class="btn btn-outline-secondary"
                        href="{{ url_for('category', new_type=new_type, number=number+1) }}">Anterior</a>
                    {% else %}
                    <a class="btn btn-outline-secondary disabled"
                        href="{{ url_for('category', new_type=new_type, number=number+1) }}">Anterior</a>
                    {% endif %}
                    {% if number == 1 %}
                    <a class="btn btn-outline-info disabled"
                        href="{{ url_for('category', new_type=new_type, number=number-1) }}" tabindex="-1"
                        aria-disabled="true">Recente</a>
                    {% else %}
                    <a class="btn btn-outline-info" href="{{ url_for('category', new_type=new_type, number=number-1) }}"
                        tabindex="-1" aria-disabled="true">Recente</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </main>

    <footer>
        <p>
            <a class="text-info" href="#">Voltar ao topo</a>
        </p>
    </footer>
</div>
{% endblock %}